<header>
    <div class="logo">
        <a href="/"><img src="/images/65874794-stikery-moto-klub-1.jpg" alt="Логотип завода"></a>
    </div>
    <nav>
        <ul>
            
            <li><a href="/api">Продукция</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/delivery">Доставка</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li id="adminLink" style="display:none;"><a href="/admin">Админка</a></li>
        </ul>
    </nav>
    <div class="auth-buttons">
        <button id="loginButton">Вход</button>
        <button id="signupButton">Регистрация</button>
        <a href="/profile"><button id="profileButton" style="display:none;">Профиль</button></a>
        <a href="/cart"><button id="cartButton" style="display:none;">Корзина</button></a>
    </div>
</header>
